{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="container" style="margin-top: 2rem">
    <div class="row">
      <div class="col-3" style="margin-right: 1rem">
        <div class="list-group">
          <a href="{% url 'general' %}" class="list-group-item list-group-item-action">Ogólne</a>
          <a href="{% url 'change-password' %}" class="btn btn-default list-group-item list-group-item-action" name="change">Zmiana hasła</a>
        </div>
      </div>
      <div class="col-8"> 
        {% block accountcontent %}
          <h5>Twoje konto: {{ request.user.username }}</h5>
          <hr/>
          <form method="post">
              {% csrf_token %}
          {% for field in form.visible_fields %}
              <div class="form-group">
                  {{ field.errors }}
                  <div class="form-label-group font-weight-bold">
                    {{ field.label_tag }}
                  </div>
                  {{field}}
              </div>
          {% endfor %}
          <button class="bg-primary text-white form-control" style="margin-top: 1rem" type="submit">Zapisz</button>
          </form>
          {%for message in messages%}
              {{message}}
          {% endfor %}
        {% endblock %}
      </div>
    </div>
  </div>
  {% else %}
    <h1>Log in first</h1>
  {% endif %}
  
{% endblock %}
