{% extends "base.html" %}
{% block title %}
Logowanie
{% endblock title %}
{% block styles %}
<style>
.container-fluid {
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 88vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>
{% endblock styles %}
{% block signup_modal %}
{% endblock signup_modal %}
{% block signin_modal %}
{% endblock signin_modal %}
{% block signup_button %}
    <li class="nav-item">
        <a class = "nav-link" href="{% url 'signup' %}">Zarejestruj</a>
    </li> 
{% endblock signup_button %}
{% block signin_button %}
{% endblock signin_button %}
{% block content %}
    <div class="container-fluid">
        <form method="post" action="{% url 'login' %}?next={{next}}" class="w-25 mx-auto">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-12 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Logowanie</h5>
                            <div class="form-label-group">
                                <input type="text" id="id_username_" class="form-control my-3" placeholder="login" name="username" required autofocus>
                            </div>
                            <div class="form-label-group">
                                <input type="password" id="id_password_" class="form-control my-3" placeholder="hasło" name="password" required>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Błędne login lub hasło!</strong>
                                </div>
                            {% endif %}
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">zaloguj</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}