{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <style>
    .container-fluid {
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    </style>
    <div class="container-fluid">
  <form method="post" action="{% url 'signup' %}">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-3 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Create an account </h5>
              <hr/>
                <form class="form-signup">
                  {% csrf_token %}      
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      {{ field.errors }}
                      <div class="required form-label-group font-weight-bold">
                        {{ field.label_tag }}
                      </div>
                      {{field}}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                    </div>
                  {% endfor %}
                    <button class="btn btn-lg btn btn-success btn-block text-uppercase" type="submit">Sign up</button>
                </form>
            </div>
          </div>
        </div>
      </div>
  </form>
    </div>
{% endblock %}