<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
{% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title>{% block title %}{% endblock %}</title>
</head>
<body><div id="content">
{% block content %}{% endblock %}
<footer class='footer'>
{% block footer %}
All rights reserved &#9426 2019
{% endblock footer %}</footer>
</div>
</body>