{% extends "base.html" %}
{% block title %}
    {{attraction.name}} details
{% endblock title %}
{% block content %}
    <h2><center>{{attraction.name}}</center></h2>
    <div id="map"></div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h4>Opis</h4>
        </div>        
        <p>{{attraction.description}}</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h4>Lokalizacja</h4>
        </div>
        <p>{{attraction.localization}}</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h4>Czas potrzebny na zwiedzanie</h4>
        </div>        
        <p>{{longTimeNeededToSightsee}}</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h4>Cena biletu</h4>
        </div>        
        <p>{{attraction.ticketCost}} zł</p>
    </a>
</div>
    <script type="text/javascript">
        loc={{locationInfo|safe}}
    </script>
{% endblock content %}
{% block scripts %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=attractionDetail">
  </script>
{% endblock scripts %}