{% extends "base.html" %}
{% block title %}
    Attractions
{% endblock title %}    
{% block content %}
    <div id="map"></div>
    <h1>Lista wszystkich dostępnych atrakcji</h1>
    {% if attraction_list %}
        <ul>
        {% for attraction in attraction_list  %}
        <li><a href="{% url 'attraction-detail' attraction.pk %}" >{{attraction.name}}</a><a href="{% url 'add-attraction' attraction.pk %}">Dodaj do koszyka</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak atrakcji</p>
    {% endif %}
<script type="text/javascript">
    locs={{locationsInfo|safe}}
</script>
{% endblock content %}
{% block scripts%}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=attractionList">
  </script>
{% endblock scripts%}