{% extends "base.html" %}
{% block title %}
    Attractions
{% endblock title %}    
{% block content %}
    <div id="map"></div>
    <h1>Lista wszystkich dostępnych atrakcji</h1>
    {% if attraction_list %}
        <ul>
        {% for attraction in attraction_list  %}
        <li><a href="{% url 'attraction-detail' attraction.pk %}" >{{attraction.name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak atrakcji</p>
    {% endif %}
<script type="text/javascript">
    attractions={{attractions|safe}}
</script>
{% endblock content %}