{% extends "base.html" %}
{% block title %}
    Attractions
{% endblock title %}    
{% block content %}
    <div id="map"></div>
    <h1><center>Lista wszystkich dostępnych atrakcji<center></h1>
    {% if attraction_list %}
        <center>
        <ul class="list-group" style=" width:60%;">
        {% for attraction in attraction_list  %}
            <li class="list-group-item">
                <a href="{% url 'attraction-detail' attraction.pk %}" >{{attraction.name}}</a>
                {% if  user.is_authenticated%}
                    {% if  attraction.name not in attractionNamesInCreator %}
                        <a href="{% url 'add-attraction' attraction.pk %}" class="btn btn-primary">
                                <i class="fas fa-shopping-basket basket"></i>
                        </a>
                    {% else %}
                        <a href="#">
                            <button type="button" class="btn btn-primary" disabled>
                                <i class="fas fa-shopping-basket basket"></i>
                            </button>
                        </a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
        </ul></center>
    {% else %}
        <p>Brak atrakcji</p>
    {% endif %}
<script type="text/javascript">
    locs={{locationsInfo|safe}};
</script>
{% endblock content %}
{% block scripts%}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=attractionList">
  </script>
{% endblock scripts%}