{% extends "base.html" %}
{% block title %}
    Moje plany
{% endblock title %}    
{% block content %}
    <h1>Lista twoich planów</h1>
    {% if mytripplans %}
        <ul>
        {% for trip_plan in mytripplans  %}
        <li>
            <a href="{% url 'trip-plan-detail' trip_plan.pk %}" >{{trip_plan.name}}</a>
            <a href="{% url 'remove-my-plan' trip_plan.pk %}">
                <i class="fas fa-trash-alt binIcon"></i>
            </a>
            <a href="{% url 'edit-my-plan' trip_plan.pk %}">
                <i class="fas fa-edit"></i>     
            </a>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Brak planów</p>
    {% endif %}
{% endblock content %}
