
<html>
<head>
  <title>PDF</title>
<style>
h3{
    margin-bottom:10px;
    padding:10px 0 10px 0;
    border-bottom:solid 2px blue;
}
h5{
    margin:0;
    color:grey;
}
.attr{
    margin-bottom:25px;
}
.summary{
    margin-top:100px;
}
</style>
</head>

<body>
    <center><h1>{{tripplan.name}}</h1></center>
    <h2>Atrakcje</h2>
    {% for attraction in tripplan.attractions.all %}
    <div class="attr">
        <h3>{{ attraction.name }}</h3>
        <h5>Czas potrzebny na zwiedzenie: {{ attraction.getTimeAsFormattedString }}</h3>
        <h5>Koszy zwiedzenia: {{ attraction.getFormattedCost }}</h3>
    </div>
    {% endfor %}

    <div class="summary">
    <h2>Podsumowanie</h2>
    <h4>Całkowity czas potrzeny na zwiedzanie: {{tripplan.getFormattedTime}}</h4>
    <h4>Całkowity koszt: {{tripplan.getFormattedCost}}</h4>
    </div>

</body>
</html>