{% extends "base.html" %}
{% block title %}
    Tworzenia planu
{% endblock title %}
{% block styles %}
<style>
.atr-list{margin-bottom:10px;padding:10px;border-color:#C0C0C0;background-color: #f1f1f1 ;width:calc(100% - 15px);}
.atr-list:hover{background-color: #E8E8E8;}
.plus-icon:hover{color:#101010;}
.atr-list a{
    color:#000;
}
.atr-list .info{
    color:#7e7e7e;
}
#map{
    height:800px;
}
form{
    margin-left:15px;
}
</style>
{% endblock styles %}
{% block content %}
{% load static %}
<div class="container-fluid">
        {% if attractions  %}
            <div class="row">
            <h2>Zapisz plan</h2>
                <form action="{% url 'save-trip-plan' shoppingcart.pk %}" method="post">
                    {% csrf_token %}
                    {{ saveform }}
                    <button type="submit" class="btn">
                        <i class="far fa-save save"></i>
                    </button>
                </form>
            </div>
            <div class="row">
             <div class="col-5">
        <center> 
            <h3>Atrakcje</h3>
        </center>
         <div class="listing-block">
                    {% for attraction in attractions.all %}
                    <div class="atr-list">
                        <a href="{% url 'attraction-detail' attraction.pk %}">
                            <div class="media">
                                <img class="mr-3" style="width: 128px; height: 80px"src="{% static "images/" %}{{attraction.name}}.jpeg" alt="{{attraction.name}}">
                                <div class="media-body">
                                    <div class="con" style="float:left; width:85%"><h5 class="mt-1 text-left">{{attraction.name}}</h5>
                                        <div class="info">
                                            <span><i class="fa fa-clock-o"></i> {{attraction.timeNeededToSightsee}} h</span>
                                            <span><i class="fa fa-money"></i> {{attraction.ticketCost}} zł</span>
                                        </div>
                                    </div>
                                    <div style="float:left">
                                       <a href="{% url 'remove-attraction-from-shopping-cart' attraction.pk %}"
                    <i class="fas fa-trash-alt"></i>
                </a>
                                    </div>
                                </div>
                            </div>  
                        </a>
                    </div>  
                    {% endfor %}
                    
                </div>
        <h4>Czas zwiedzania: {{totalTime}}*</h4>
        <h6>* nie uwzględnia czasu przemieszczania się między atrakcjami</h6>
        <h4>Całkowity koszt: {{totalCost}}</h4>
        <br/>
        </div>
                <div class="col">
                <center><h3>Lokalizacje atrakcji na mapie</h3></center>
                    <div id="map"></div>
                </div>
               
    {% else %}
        <p>Nie masz żadnych atrakcji w koszyku!</p>
    {% endif %}
    </div>
    </div>
{% endblock content %}

{% block scripts%}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=tripPlanDetail">
  </script>
<script>
    locs={{attractionLocalizations|safe}};
</script>
{% endblock scripts%}