{% extends "base.html" %}
{% block title %}
    Tworzenia planu
{% endblock title %}
{% block styles %}
<style>
#map{
    height:600px;
    width:800px;
    margin: 0 auto 30px auto;
}
.card {
    margin:0 auto 30px auto;
}
form {
    margin-left: 30px;
}
</style>
{% endblock styles %}
{% block content %}
{% load static %}
    {% if attractions  %}
        <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-4">
                <div class="row">
                    <h2>Zapisz plan</h2>
                    <form action="{% url 'save-trip-plan' shoppingcart.pk %}" method="post">
                        {% csrf_token %}
                        {{ saveform }}
                        <button type="submit" class="btn">
                            <i class="far fa-save save"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <h3 class="text-center">Atrakcje</h3>
                <div class="listing-block"> 
                    {% for attraction in attractions.all %}
                        <div class="card w-75">
                            <img class="card-img-top" src="{% static "images/" %}{{attraction.name}}.jpeg" alt="{{attraction.name}}">
                            <div class="card-body">
                                <h5 class="card-title">{{attraction.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <i class="fa fa-clock-o"></i> {{attraction.timeNeededToSightsee}} h
                                    <i class="fa fa-money"></i> {{attraction.ticketCost}} zł
                                </h6>
                                <p class="card-text text-right">
                                    <a class="icon-wrapper" href="{% url 'attraction-detail' attraction.pk %}">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a class="icon-wrapper" href="{% url 'remove-attraction-from-shopping-cart' attraction.pk %">
                                        <i class="fas fa-minus-square"></i>
                                    </a>
                                </p> 
                            </div> 
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3 class="text-center">Lokalizacje atrakcji na mapie</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="" id="map"></div>
                </div>
                <div class="row">
                    <div class="col">
                            <h3 class="text-center">Podsumowanie</h3>
                            <h4 class="text-center">Czas zwiedzania: {{totalTime}}*</h4>
                            <h6 class="text-center">* nie uwzględnia czasu przemieszczania się między atrakcjami</h6>
                            <h4 class="text-center">Całkowity koszt: {{totalCost}}</h4>
                    </div>
                </div>
            </div>
            </div>
            
              </div> 
    {% else %}
        <p>Nie masz żadnych atrakcji w koszyku!</p>
    {% endif %}
{% endblock content %}

{% block scripts%}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=tripPlanDetail">
  </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>

<script>
    locs={{attractionLocalizations|safe}};
 $(function(){
            $('.listing-block').slimScroll({
                height: '800px'
            });
             });
</script>
{% endblock scripts%}