{% extends "base.html" %}
{% block title %}
    Tworzenia planu
{% endblock title %}
{% block content %}

    <!-- Modal -->
        {% if  availableattractions %}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addAttraction">Dodaj atrakcję
    </button>
  <div class="modal fade" id="addAttraction" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Wybierz atrakcję do dodania</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
{% for attraction in availableattractions %}
            <a href="{%url 'attraction-detail' attraction.pk%}">{{attraction.name}}</a>
            <a href="{% url 'add-attraction' attraction.pk %}" class="btn btn-primary">
                    <i class="fas fa-shopping-basket basket"></i>
            </a>   
            </br>         
        {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
        </div>
      </div>
      
    </div>
  </div>
  {% endif %}



        {% if attractions  %}
        <div id="map"></div>
        <center> 
            <h3>Atrakcje wchodzące w plan:</h3>
        </center>
        {% for attraction in attractions.all %}
            <li>
                <a href="{% url 'attraction-detail' attraction.pk %}">{{attraction.name}}</a>
                <a href="{% url 'remove-attraction-from-shopping-cart' attraction.pk %}" class="btn btn-primary">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </li>
        {% endfor %}
        <p>Całkowity czas: {{totalTime}}</p>
        <p>Całkowity koszt: {{totalCost}}</p>
        {% if numberOfLocations > 1 %}
            <button id="makeroute" type="button" class="btn btn-primary">Pokaż trasę</button>
        {% endif %}
        </br>
        <form action="{% url 'save-trip-plan' shoppingcart.pk %}" method="post">
            {% csrf_token %}
            {{ saveform }}
            <button type="submit" class="btn btn-primary">
                <i class="far fa-save save"></i>
            </button>
        </form>
    {% else %}
        <p>Nie masz żadnych atrakcji w koszyku!</p>
    {% endif %}
{% endblock content %}

{% block scripts%}
<script>
    locs={{attractionLocalizations|safe}};
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=tripPlanDetail">
  </script>
{% endblock scripts%}