{% extends "base.html" %}
{% block title %}
    Attractions
{% endblock title %}  
{% block styles %}
<style>
.card-columns {
    column-count:3;
}
.card-text{
    position:absolute;
    bottom:20px;
    right:20px;
}
</style>
{% endblock styles %}   
{% block content %}
    {%  load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4 my-2">Proponowane plany</h2>
            <p class="text-secondary mx-auto mb-5">Nie masz pomysłu na wycieczkę? Specjalnie dla ciebie przygotowaliśmy gotowe plany z których możesz skorzystać!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-columns w-75 mx-auto"> 
                {% for trip_plan in tripplan_list  %}
                    <div class="card">
                        <img class="card-img-top" src="https://www.bialystok.pl/resource/image/192/334/1021/2250/0x0.jpg" alt="{{trip_plan.name}}">
                        <div class="card-body">
                            <h5 class="card-title pb-5">{{trip_plan.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <i class="fa fa-clock-o pb-2"></i> {{trip_plan.getFormattedTime}} <br>
                                <i class="fa fa-money pb-2"></i> {{trip_plan.getFormattedCost}}<br>
                                <i class="fas fa-map-marker"></i> {{trip_plan.getNumberOfAttractions}}
                            </h6>
                            <p class="card-text text-right">
                                <a class="icon-wrapper" href="{% url 'trip-plan-detail' trip_plan.pk %}">
                                    <i class="far fa-eye"></i>
                                </a>
                            </p> 
                        </div> 
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
