{% extends "base.html" %}
{% block title %}
    {{tripplan.name}} details
{% endblock title %}
{% block content %}
    <div id="map"></div>
    {% if tripplan.creator.pk == user.pk %}
      <a href="{% url 'edit-my-plan' tripplan.pk %}">Edytuj</a>
      <a href="{% url 'remove-my-plan' tripplan.pk%}">Usuń</a>
      <a></a>
    {% endif %}
    <center><h2>{{tripplan.name}}</h2></center>
<center> <h3>Atrakcje wchodzące w plan:</h3></center>
        {% for attraction in tripplan.attractions.all %}
              <center><div class="list-group" style="width: 60%;">
  <a href="{% url 'attraction-detail' attraction.pk %}" class="list-group-item list-group-item-action">
    {{attraction.name}}
  </a>
</div>
        {% endfor %}
        {% if numberOfLocations > 1 %}
         <button id="makeroute" type="button" class="btn btn-primary"><i class="fas fa-route route"></i></button>
        {% endif %}
{% endblock content %}
{% block scripts%}
<script>
    locs={{locationsInfo|safe}};
</script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=tripPlanDetail">
  </script>
{% endblock scripts%}