{% extends "base.html" %}
{% block title %}
    {{tripplan.name}} details
{% endblock title %}
{% block content %}
    <div id="map"></div>
    {% if tripplan.creator.pk == user.pk %}
      <a href="{% url 'edit-my-plan' tripplan.pk %}">Edytuj</a>
      <a href="{% url 'remove-my-plan' tripplan.pk%}">Usuń</a>
      <a></a>
    {% endif %}
    <center><h2>{{tripplan.name}}</h2></center>
<center> <h3>Atrakcje wchodzące w plan:</h3></center>
        {% for attraction in tripplan.attractions.all %}
              <center><div class="list-group" style="width: 60%;">
  <a href="{% url 'attraction-detail' attraction.pk %}" class="list-group-item list-group-item-action">
    {{attraction.name}}
  </a>
</div>
        {% endfor %}
        <p>Całkowity czas zwiedzania: <span id="totalTime_hours">{{hours}}</span> godziny <span id="totalTime_minutes">{{minutes}}</span> minut<p>
        <p>Całkowity koszy zwiedzania: {{totalPrice}}<p>
        <p id="totalDistance"><p>
        
        {% if numberOfLocations > 1 %}
        <span>Początek wycieczki: </span>
        <select id="start">
          {% for attraction in attractionLocalizations  %}
            <option value="{{attraction.name}}">{{attraction.name}}</option>
          {% endfor %}
        </select>
        <span>Koniec wycieczki: </span>
        <select id="end">
          {% for attraction in attractionLocalizations  %}
            <option value="{{attraction.name}}">{{attraction.name}}</option>
          {% endfor %}
        </select>
         <button id="makeroute" type="button" class="btn btn-primary"><i class="fas fa-route route"></i></button>
        {% endif %}
{% endblock content %}
{% block scripts%}
<script>
    locs={{attractionLocalizations|safe}};
    hours={{hours|safe}};
    minutes={{minutes|safe}};
</script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArdvkTXE1oDlhs3VbJ4KJGYZtclFj79Hg&callback=tripPlanDetail">
  </script>
{% endblock scripts%}