{% extends "base.html" %}
{% block title %}
    Attractions
{% endblock title %}    
{% block content %}
    <center><h1>Lista proponowanych planów</h1></center>
    {% if tripplan_list %}
        {% for trip_plan in tripplan_list  %}
          <center><div class="list-group" style="width: 60%;">
  <a href="{% url 'trip-plan-detail' trip_plan.pk %}" class="list-group-item list-group-item-action">
    {{trip_plan.name}}
  </a>
</div>
</center>
        {% endfor %}
    {% else %}
        <p>Brak gotowych planów</p>
    {% endif %}
{% endblock content %}
