{% extends 'account/myaccount.html' %}

{% block accountcontent %}
    <h5>Change password</h5>
    <hr/>
    <form method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.errors }}
                <div class="form-label-group font-weight-bold">
                {{ field.label_tag }}
                </div>
                {{field}}
            </div>
        {% endfor %}
        <button class="btn btn-outline-dark" style="margin-top: 1rem" type="submit">Save</button>
    </form>
    {%for message in messages%}
            {{message}}
    {% endfor %}
{% endblock %}