.required:after {
    content: "*";
    color: red;
}

.bg {
    background-image: url("https://images.pexels.com/photos/297755/pexels-photo-297755.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 88vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.disabled{
    cursor: default;
    opacity: 0.5;
}
.icon-wrapper{
    color:#4F4F4F;
    padding:10px;
}
.icon-wrapper i{
    font-size: 35px;
}
.size-50{
    font-size:50px;
}
.icon-wrapper:not(.disabled):hover{opacity: 0.7;}
